# The runtime values of these variables will be substituted when you run the GitHub Action on GitHub. If you need some of these variables for local testing, you can mock their values in your `env` file.

# This is where you would also define your custom variables that you'll define when configuring the Action on GitHub.com

AWS_SECRET_ACCESS_KEY="AWS Secret Access Key"
AWS_ACCESS_KEY_ID="AWS Access Key ID"
AWS_REGION="AWS region"

